.bubble {
    position: relative;
    display: inline-block;
  }

.form-control {
    text-align: right;
    font-weight: 400;
    
  }

.panel-body {
  margin-left: 15px;
  text-align: left;
  padding-left: 1px;
  position: relative;
  font-weight: 350;
  color: darkslategray;
 }

#buttons {
  margin-left: 25px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(248, 250, 250, 0.57);
  text-align: right;
  float: right;

}
#button {
  text-align: right;
  background-color: rgba(143, 213, 218, 0.467);
  padding-left: 120px;
  padding-right: 120;
  text-emphasis-color: black;
}

.myFloat_Right {
  float: right;
  margin-left: 5px;
}