.bubble {
    position: relative;
    display: inline-block;
  }

.form-control {
    text-align: right;
  }

.panel-body {
  margin-left: 15px;
  text-align: left;
  padding-left: 1px;
  position: relative;
 }

#buttons {
  margin-left: 15px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: rgba(248, 250, 250, 0.57);
  text-align: left;
  align-items: center;
}
#button {
  text-align: right;
  background-color: rgba(143, 213, 218, 0.467);
  padding-left: 120px;
  padding-right: 120;
  text-emphasis-color: black;
}
