body {
  text-align: inherit;
}

.jumbotron {
  text-align: center;
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/colorful-organic-vegetables-in-paper-eco-shopping-royalty-free-image-1131005372-1565210333.jpg") center center / cover no-repeat;
  color: rgb(203, 202, 202)
}

p {
  padding: 5px;
  font-size: 15px;
  color: rgb(245, 203, 123);
}

#selDataset {
  color: black;

}

h5{
  color: rgb(85, 85, 85);
}

#gauge1 {
  text-emphasis-style: gray;
}

/* The code styles the text */
.gauge1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #58aeff;
  text-shadow: 10px;
}

/* The code styles the text at the bottom of the footer */
footer  {
  position: end;
  right: 20;
  bottom: 0;
  left: 20;
  padding: 5px;
  background: #f8faf8;
}