.jumbotron {
  text-align: center;
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/colorful-organic-vegetables-in-paper-eco-shopping-royalty-free-image-1131005372-1565210333.jpg") center center / cover no-repeat;
  color: white
}

p {
  font-size: 15px;
  color: orange;
}